body {
  margin: 0px;
  background-color: #fff6aa;
}

h3 {
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  font-family: "Bitter", Tahoma, Sans-Serif;
  text-align: center;
  font-size: 1.75em;
}

#mainBody {
  margin-left: 15%;
  margin-right: 15%;
}

#header {
  background-color: #e5dd97;
  margin: 0px;
  padding-bottom: 25px;
}

#title {
  text-align: center;
  font-family: "Bitter", Tahoma, Sans-Serif;
  margin-top:0px;
  padding-top: 25px;
}

#details {
  text-align: center;
}

#headerA {
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-size: 1em;
}

#headerLinks {
  font-family: "Roboto";
}

#mainA {
  text-decoration: none;
  color: black;
}

#mainA:hover {
  color: #5e5b3e;
}

#footer {
  width:100%;
  height: 50px;
  background-color: #e5dd97;
  text-align: center;
  padding-top: 25px;
  font-family: "Roboto", Tahoma, Sans-Serif;
  color: #5e5b3e;
}

.mdc-card__action--button {
  font-size: 1em !important;
}

/* Project grid cell */
.cell {
  background-color: #fffded;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.cell p {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.cell h3 {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.cell span {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.cellButtons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.disclaimer {
  font-family: "Roboto", Tahoma, Sans-Serif;
  text-align: center;
}

.spanLang {
  display: block;
}

.gradeTableH {
  text-align: left;
}

/* ================== DESKTOP ===================== */
@media screen and (min-width: 1025px) {
  #mainBody {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* =================== TABLET ===================== */
@media screen and (max-width: 1024px) {
  #mainBody {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* ================== MOBILE ====================== */

@media screen and (max-width: 480px) {
  #mainBody {
    margin-left: 0;
    margin-right: 0;
  }
}
